export(cpr)
export(ct_test)
export(make_deterministics)
export(pcpr)
export(pu_test)

S3method(print, cpr)
S3method(summary, cpr)
S3method(print, summary.cpr)
S3method(coef, cpr)
S3method(fitted, cpr)
S3method(residuals, cpr)
S3method(print, pcpr)
S3method(summary, pcpr)
S3method(print, summary.pcpr)
S3method(coef, pcpr)
S3method(ct_test, default)
S3method(ct_test, cpr)

importFrom(stats, pnorm)
importFrom(stats, printCoefmat)
