export(cpr)
export(ct_test)
export(make_deterministics)
export(pcpr)
export(pu_test)
export(turning_points)

S3method(print, cpr)
S3method(summary, cpr)
S3method(print, summary.cpr)
S3method(coef, cpr)
S3method(fitted, cpr)
S3method(residuals, cpr)
S3method(plot, cpr)
S3method(turning_points, cpr)
S3method(print, pcpr)
S3method(summary, pcpr)
S3method(print, summary.pcpr)
S3method(coef, pcpr)
S3method(plot, pcpr)
S3method(turning_points, pcpr)
S3method(ct_test, default)
S3method(ct_test, cpr)
S3method(print, ct_test)
S3method(pu_test, default)
S3method(pu_test, cpr)
S3method(print, pu_test)

importFrom(stats, pnorm)
importFrom(stats, printCoefmat)
importFrom(stats, aggregate)
importFrom(graphics, plot)
importFrom(graphics, points)
importFrom(graphics, lines)
importFrom(graphics, abline)
importFrom(graphics, text)
importFrom(grDevices, adjustcolor)
